body {
    margin: 0;
}

img {
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.flex-container {
    display: flex;
    width: 100%;
}

form {
    flex-grow: 2.5;
    background-color: gray;
    min-height: 100vh;
}
h1 {
    flex-grow: 1;;
}